/* General reset for full height */
html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* No scrolling */
}
body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Spacing between elements */
  height: 100vh; /* Full height of the viewport */
  max-width: 1200px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

#call-container {
  text-align: center;
  margin-bottom: 10px; /* Adds spacing below the call button */
}

#call {
  display: inline-flex;
  background: linear-gradient(
    214.84deg,
    rgb(15, 9, 68) 20.52%,
    rgb(9, 4, 50) 89.43%
  );
  transition: background 1s;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  color: white;
}

#call:hover {
  background: linear-gradient(
    90deg,
    rgb(110, 42, 255) 0%,
    rgb(148, 98, 255) 100%
  );
}

.local-video {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 100px;
  height: 100px;
}

#localVideo {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.remote-video {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh; /* Reduces height slightly to leave room for other elements */
  padding: 20px 0;
}

#remoteVideo {
  width: 100%;
  height: 100%;
  max-height: 100%;
  border-radius: 10px;
  object-fit: cover;
}


.users-section {
  margin-top: 10px;
  padding: 10px;
  background-color: #1e1e1e;
  border-radius: 5px;
  border: 1px solid rgb(110, 42, 255);
  text-align: center;
}

.user-item {
  display: inline-flex;
  cursor: pointer;
  background: transparent;
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 2px;
  transition: background 1s;
  border: 1px solid rgb(110, 42, 255);
}

.user-item:hover {
  background: rgb(110, 42, 255);
}

.user-item--touched {
  background: linear-gradient(
    90deg,
    rgb(110, 42, 255) 0%,
    rgb(148, 98, 255) 100%
  );
}

#userId {
  display: block;
  margin-bottom: 10px; /* Ensure there's space between this and the call text */
}

/* Mobile and tablets (up to 720px) */
@media (max-width: 720px) {
  .local-video {
    width: 120px;
    height: 120px;
    right: 10px;
    bottom: 10px;
  }
  #call-container{
    text-align: left;
  }
    
  #call-container, .users-div{
    margin-bottom: 30px;
  }

  .remote-video {
    height: 75vh; /* Reduce to make room for user ID and call button */
  }

  #remoteVideo {
    height: 100%;
    width: 100%;
    object-fit: contain; 
  }

  #call {
    padding: 8px 16px;
  }
}

/* Desktop and larger screens */
@media (min-width: 721px) {
  .local-video {
    width: 150px;
    height: 100vh;
  }

  #remoteVideo {
    width: 90%; 
    height: auto;
    object-fit: contain;
  }
}
